<nav class="navbar navbar-expand-lg navbar-light bg-info" [hidden]="esconderBarra()">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Sistema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="sair()">Sair</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Usuarios</a>
          <a class="dropdown-item" href="#">link 2</a>
          <a class="dropdown-item" href="#">link 3</a>
        </div>
      </li>

    </ul>

  </div>
</nav>
<router-outlet></router-outlet>